.wholepage{
	width:1500px;
	

}


.comwidth{
	width: 1100px;
	margin: 0 auto;


	
	}

.topbar{
	height: 113px;
	background-color: white;
	


}
.topbarleft{
	float: left;
}

.topbarlist{
	float: right;
	list-style: none;
	margin-top: 44px;
	
}

.topbar li{
	float: left;
	margin-left: 44px;
	

}

.topbar a{
	text-decoration: none;
	
	font-size: 14px;


}





















.banner{
	background: url(layer2.jpg);
	position: relative;
	height: 570px;
}


.bannerpic{
	position: absolute;
	top:210px;
	left: 355px;
	
	
	
}

.bannertext{
	color: white;
	text-align: center;
}











.menubox{
	position: relative;
	border-top: #f34949 solid 4px;
}


.menupic{
	width: 156px;
	height: 75px;
	background:url(menu.png);
	color: white;
	line-height: 65px;
	margin: 0 auto;
	text-align: center;
}











.banner-list{
	margin-top: 80px;
}






.bannertext2{
	display: inline-block;
	list-style: none;
	width: 494px;
	float: left;
	padding-left: 0px;
	height: 92px;
	margin-top: 0px;
	color: #555555;

}





.bannertext3{
	display: inline-block;
	list-style: none;
	width: 494px;
	float: right;
	padding-left: 0px;
	
	height: 92px;
	margin-top: 0px;
	color: #555555;
	

}

.title{
	float: left;
}

.title h4{
	margin-top: 0px;
	height: 2px;

}


.common{
	color: #c5c5c5;
	
}



.dollar{
	float: right;
}



.dollar{
	color: #555555;
	font-weight: bold;
}





.button1{
	float: left;
	margin-top: 10px;
	margin-left: 493px;
}



.button{
	display: inline-block;
	text-decoration: none;
	color: #b7b7b7;
	font-size: 14px;
	margin-left:482px;
	width: 117px;
	height: 32px;
	line-height: 32px;
	border: 1px solid #d7d5d5;
	padding-left: 16px;
}


.icon{
	display: inline-block;
	height: 7px;
	width: 11px;
	margin-left: 10px;
	background: url(icon.png) no-repeat;
}
























.panner1{
	margin-top: 200px;

}



.header{
	width: 230px;
	height: 95px;
	font-size: 16px;
	font-weight: bold;
}


.panner1-pic1{
		width: 230px;
		float: left;
		margin-right: 60px;
		
		
}

.panner1-pic1-last{
	width: 230px;
	float: left;
	margin-right: 0px;
}


.panner1text{
	float: left;margin-top: 30px;
}
.dollar2{
	float: right;margin-top: 30px;
}









.panner2{
	margin-top: 400px;
	position: relative;

}




.header2{

	
	width: 230px;
	height: 95px;
	font-size: 16px;
	font-weight: bold;

}


.panner2pic{
	float: left;
	margin-top: 0px;
}

.panner2pic2{
	
	float: left;
	height: 252px;
}
.panner2pic3{
	
	float: right;
	width: 460px;
	height: 383px;
	overflow: hidden;
}


.panner2pic4{
	position: absolute;
	top: 345px;
	left: 553px;
}




.footer{
	height: 317px;
	background-color: #3b3b3b;
	width: 1500px;
	float: left;
	margin-left: 0px;
	margin-top: 200px;
	color: white;
	font-size: 16px;
	
}


.footer1{
	
	float: left;
	width: 210px;
	margin-top: 110px;
	margin-right: 70px;
	
	

}


.footer1 a{
	display: inline-block;
	margin-top: 15px;
	text-decoration: none;
	color: white;
}

.footer2{
	float: right;
	margin-top: 100px;
}